In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [29]:
df=pd.read_csv("canada_per_capita_income.csv")
# df
df.head(5)

   year  per_capita_income
0  1970        3399.299037
1  1971        3768.297935
2  1972        4251.175484
3  1973        4804.463248
4  1974        5576.514583

In [28]:
%matplotlib inline
plt.xlabel('year')
plt.ylabel('per capita income (US$)')
plt.scatter(df.year,df.per_capita_income,marker ='+')

SyntaxError: invalid syntax (1424748027.py, line 4)